body{
margin:0;
font-family:Arial;
background:#f4f6fa;
}

header{
background:#2c3e50;
color:white;
text-align:center;
padding:20px;
}

nav{
background:#34495e;
text-align:center;
padding:10px;
}

nav a{
color:white;
margin:0 15px;
text-decoration:none;
font-weight:bold;
}

nav a:hover{
text-decoration:underline;
}

section{
padding:40px;
text-align:center;
}

.login-section{
display:flex;
justify-content:center;
}

.card{
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.2);
width:350px;
margin:20px auto;
}

input{
width:90%;
padding:10px;
margin:10px 0;
border-radius:5px;
border:1px solid #ccc;
}

button{
padding:10px;
width:95%;
border:none;
background:#3498db;
color:white;
font-size:16px;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#2980b9;
}

.hidden{
display:none;
}

.dashboard{
display:grid;
grid-template-columns:1fr 1fr;
gap:10px;
margin:20px 0;
}

.box{
background:#ecf0ff;
padding:20px;
border-radius:8px;
font-weight:bold;
}

.feature-grid{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:20px;
max-width:800px;
margin:auto;
}

.feature{
background:white;
padding:20px;
border-radius:8px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

footer{
background:#2c3e50;
color:white;
text-align:center;
padding:15px;
}